[submodule "Matlab/ADMM/ModerRobotics"]
	path = Matlab/ADMM/ModerRobotics
	url = https://github.com/lasithagt/ModernRobotics.git
[submodule "Matlab/ADMM/ADMM_3BLKS/IK_solvers/ModernRobotics"]
	path = Matlab/ADMM/ADMM_3BLKS/IK_solvers/ModernRobotics
	url = https://github.com/lasithagt/ModernRobotics.git
