[submodule "Matlab/ADMM/ADMM_3BLKS/IK_solvers/ModernRobotics"]
	path = Matlab/ADMM/ADMM_3BLKS/IK_solvers/ModernRobotics
	url = https://github.com/lasithagt/ModernRobotics.git
	ignore = dirty
[submodule "Matlab/ADMM/ModernRobotics"]
	path = Matlab/ADMM/ModernRobotics
	url = https://github.com/lasithagt/ModernRobotics.git
	ignore = dirty
[submodule "standalone"]
	path = standalone
	url = https://github.com/lasithagt/admm.git
	ignore = dirty
